.products{
    margin: 5px auto;
}
.products .card{
    margin: 5px auto;
    text-align: center;
    width: 99%;
    height: 95%;
}
.products .card img{
    padding: 7px;
    height: 220px;
}
.card{
    box-shadow: 0px 1px 2px black;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.02);
}
#heading{
    width: 98%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e9ecef;
    padding: 16px;
    margin: 10px auto;
    border-radius: 10px;
}

.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
}
